{
	"instructions":"rename this file to config.json and edit these settings",
	"rpc": {
		"protocol": "http",
		"user": "username",
		"pass": "password",
		"host": "coind.rpchost.com",
		"port": "8333"
	},
	"http": {
		"host": "localhost",
		"port": 8080,
		"exclusive": true
	},
	"firebase":{
		"customUid":"api-aggregator"
	}
}
